.custom-navbar {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.nav-link {
  color: #fff ;
  transition: color 0.3s;
}

.nav-link:hover {
  color: red ;
}
