<div class="container my-5" id="skills">
  <h2 class="fw-bold mb-4 text-primary">Skills</h2>
  <div class="row">

    <div class="col-md-6 mb-3">
      <h5 class="text-dark">Frontend</h5>
      <ul class="list-unstyled">
        <li> HTML, CSS, JavaScript</li>
        <li> Bootstrap, Angular</li>
      </ul>
    </div>

    <div class="col-md-6 mb-3">
      <h5 class="text-dark">Backend</h5>
      <ul class="list-unstyled">
        <li> C#, ASP.NET Core, Entity Framework</li>
        <li> Node.js, Express.js</li>
      </ul>
    </div>

    <div class="col-md-6 mb-3">
      <h5 class="text-dark">Databases</h5>
      <ul class="list-unstyled">
        <li> SQL Server</li>
        <li> MongoDB</li>
      </ul>
    </div>

    <div class="col-md-6 mb-3">
      <h5 class="text-dark">Tools</h5>
      <ul class="list-unstyled">
        <li> Git & GitHub</li>
        <li> Postman</li>
      </ul>
    </div>

  </div>
</div>
